{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body text-center">
        <img src="https://via.placeholder.com/100" class="rounded-circle mb-3" alt="User Avatar">
        <h4>{{ user.username }}</h4>
        <p>{{ user.email }}</p>
        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
